@import "variables.scss";

footer {
    background-color: $veryDarkViolet;
    color: $white;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ul li {
    list-style-type: none;
    color: $grayishViolet;
}

svg {
    color: $white;
}