@import 'variables.scss';

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header .menuBtn img {
    height: 30px;
    cursor: pointer;
}

header ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px 15px;
}

.rightSideNav, .leftSideNav {
    display: none;
}

.mobileViewHeader {
    display: block;
    background-color: $darkviolet;
    position: absolute;
    top: 80px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.mobileViewHeader li {
    list-style-type: none;
    color: $white;
    margin: 30px 0px;
    font-weight: 700;;
}



@media (min-width: 760px) {

    header {
        padding: 50px 20px;
    }

    header li a {
        color: $grayishViolet;
    }

    header li a.btn {
        color: $white;
    }

    .menuBtn , .menu {
        display: none;
    }

    .rightSideNav, .leftSideNav {
        display: block;
    }

    .row {
        display: flex;
    }
}