@import "variables.scss";

img {
    width: 100%;
}

.features {
    background-color: #eeeeee;
}


.btn-primary {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #56d0cf;
    color: $white;
    font-weight: 700;
    border: none;
}

::ng-deep .mat-form-field {
    background-color: $white;
    padding: 10px;
    border-radius: 10px;
}
    
.getStartedSection {
    background-image: url('../../../assets/images/bg-boost-mobile.svg');
    background-color: $darkviolet;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
    color: $white;
}

.formSection {
    background-image: url("../../../assets/images/bg-boost-mobile.svg");
    padding: 2rem 1rem;
    background-color: $darkviolet;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    border-radius: 10px;
    position: absolute;
    margin-top: -72px;
    width: 82%;
}