@import "variables.scss";

img {
    width: 100%;
}

.features {
    background-color: #eeeeee;
}


.btn-primary {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: $cyan;
    color: $white;
    font-weight: 700;
    border: none;
}

::ng-deep .mat-form-field {
    background-color: $white;
    padding: 10px 10px;
    border-radius: 10px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

::ng-deep .mat-form-field-infix {
    width: 100% !important;
    padding: 0px;
    border-top: none;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $gray;
}
    
.getStartedSection {
    background-image: url('../../../assets/images/bg-boost-mobile.svg');
    background-color: $darkviolet;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
    color: $white;
}

.formSection {
    background-image: url("../../../assets/images/bg-boost-mobile.svg");
    padding: 2rem 1rem;
    background-color: $darkviolet;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
    border-radius: 10px;
    position: absolute;
    margin-top: -230px;
    width: 82%;
}

.shortenCardsContainer {
    margin-bottom: 5rem;
}


.shortenCardsContainer .shortenCard {
    margin: 1rem;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
} 

.originalLink {
    margin: 10px 0px;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid gray;
    color: $darkviolet;
}

.shortenLink {
    margin: 10px 0px;
    padding: 0px 10px;
    color: $cyan;
}

.btn-copy {
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: $cyan;
    color: $white;
    font-weight: 700;
    border: none;
}

.backgroundVoilet {
    background-color: $darkviolet;
}

.heroSection {
    text-align: center; 
 }

 .features {
    position: relative;
}


.iconInsideCircle {
    border-radius: 50%;
    background: $darkviolet;
    width: 50px;
    position: absolute;
    left: 41%;
    margin-top: -50px;
    padding: 15px;
}

.iconInsideCircle img {
    width: 38px;
    height: 38px;
}



@media (min-width: 760px) {

    .heroSection {
        padding: 30px 20px;
    }

    .heroSection  {
       text-align: left; 
    }

    .row {
        display: flex;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    ::ng-deep .mat-form-field {
        width: 90%;
    }

    .btn-primary {
        padding: 14px;
        text-align: center;
    }

    .originalLink {
        border-bottom: none;
        padding: 0px;
    }

    .shortenLink {
        margin-right: 10px;
    }

    .btn-copy {
        margin: 0px;
        padding: 10px 25px;
    }

    .formSection {
        width: 91%;
        margin-top: -130px;
    }

    .features {
        padding-top: 4rem;
    }

    .iconInsideCircle {
        left: 44%;
    }

}