
<section class="marginTop-1 marginBottom-1">
    <div class="container">
        <div class="">
            <div class="">
                <img src="../../../assets/images/illustration-working.svg">
            </div>
            <div class="">
                <h1>More than just shorter links</h1>
                <p>Build your brand's recognition and get detailed insights on how your links are performing.</p>
                <button class="btn btn-secondary">Get Started</button>
            </div>
        </div>
    </div>
</section>

<!-- feature section start -->
<section class="marginTop-1 marginBottom-1 features">
    <div class="">
        <h1>Advanced Statistics</h1>
        <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
    </div>

    <div class="">
        <div class="card">
            <img src="../../../assets/images/icon-brand-recognition.svg">
            <h3>Brand Recognition</h3>
            <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instill confidence in your content.</p>
        </div>

        <div class="card">
            <img src="../../../assets/images/icon-detailed-records.svg">
            <h3>Detailed Records</h3>
            <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
        </div>

        <div class="card">
            <img src="../../../assets/images/icon-fully-customizable.svg">
            <h3>Fully Customizable</h3>
            <p>Imporve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>

    </div>
</section>
<!-- feature section end -->

<section class="marginTop-1 getStartedSection">
    <h1>Boost your links today</h1>
    <button class="btn btn-secondary">Get Started</button>
</section>